-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: voter_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Temporary view structure for view `v_session_results`
--

DROP TABLE IF EXISTS `v_session_results`;
/*!50001 DROP VIEW IF EXISTS `v_session_results`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_session_results` AS SELECT 
 1 AS `id`,
 1 AS `session_number`,
 1 AS `voting_start`,
 1 AS `voting_end`,
 1 AS `total_votes`,
 1 AS `total_candidates`,
 1 AS `winner_name`,
 1 AS `winner_party`,
 1 AS `winner_votes`,
 1 AS `session_closed`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `voters`
--

DROP TABLE IF EXISTS `voters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `voters` (
  `voter_id` varchar(36) NOT NULL,
  `mobile_number` varchar(10) DEFAULT NULL,
  `role` enum('admin','user') NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`voter_id`),
  UNIQUE KEY `idx_mobile_number` (`mobile_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voters`
--

LOCK TABLES `voters` WRITE;
/*!40000 ALTER TABLE `voters` DISABLE KEYS */;
/*!40000 ALTER TABLE `voters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voting_sessions`
--

DROP TABLE IF EXISTS `voting_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `voting_sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `session_number` int NOT NULL,
  `start_date` datetime NOT NULL,
  `end_date` datetime NOT NULL,
  `total_votes` int DEFAULT '0',
  `total_candidates` int DEFAULT '0',
  `winner_candidate_id` int DEFAULT NULL,
  `winner_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `winner_party` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `winner_votes` int DEFAULT '0',
  `candidates_data` json DEFAULT NULL,
  `closed_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_session_number` (`session_number`),
  KEY `idx_closed_at` (`closed_at`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voting_sessions`
--

LOCK TABLES `voting_sessions` WRITE;
/*!40000 ALTER TABLE `voting_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `voting_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `v_session_results`
--

/*!50001 DROP VIEW IF EXISTS `v_session_results`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_session_results` AS select `voting_sessions`.`id` AS `id`,`voting_sessions`.`session_number` AS `session_number`,date_format(`voting_sessions`.`start_date`,'%Y-%m-%d %H:%i') AS `voting_start`,date_format(`voting_sessions`.`end_date`,'%Y-%m-%d %H:%i') AS `voting_end`,`voting_sessions`.`total_votes` AS `total_votes`,`voting_sessions`.`total_candidates` AS `total_candidates`,`voting_sessions`.`winner_name` AS `winner_name`,`voting_sessions`.`winner_party` AS `winner_party`,`voting_sessions`.`winner_votes` AS `winner_votes`,date_format(`voting_sessions`.`closed_at`,'%Y-%m-%d %H:%i:%s') AS `session_closed` from `voting_sessions` order by `voting_sessions`.`session_number` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-08 21:56:55
